## pop2_df_base 

DESCRIPTION_INDIV  
HABITUDES_INDIV   
ACTPHY_SEDENT  
pop2_df_base.csv

### Imports

In [17]:
import pandas as pd
# google drive folder access
# from google.colab import drive
# drive.mount("/content/drive", force_remount=True)

import numpy as np
from sklearn.impute import SimpleImputer

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

### Table DESCRIPTION_INDIV : Sélection variables & sélection population adulte

In [18]:
# Table DESCRIPTION_INDIV
path_description_indiv = "./datas/description-indiv.csv"
df_description_indiv = pd.read_csv(path_description_indiv, sep=';', error_bad_lines=False, index_col=False)

# Sélection populations (conditions)
pop2 = df_description_indiv['pop2'] == 1
#  select pop2
df_description_indiv_pop_2 = df_description_indiv[pop2]

# Sélection variables
description_indiv_columns = ['NOIND', 'pop2', 'pop3', 'agglo_5cl', 'sex_PS', 'tage_PS', 'diplome_interv', 'revenu', 'imc',  'fume']
df_description_indiv_select = df_description_indiv_pop_2[description_indiv_columns]

# Sélection classes adultes
print('df_description_indiv.shape :', df_description_indiv.shape)
is_adult = df_description_indiv_select['tage_PS'].isin(['7','8','9'])
df_description_indiv_select = df_description_indiv_select[is_adult]
print('df_description_indiv_select.shape :', df_description_indiv_select.shape)

# Traitement valeurs manquantes
df_description_indiv_select['imc'].fillna(df_description_indiv_select['imc'].mean(), inplace=True)
# Traitement valeurs manquantes: sex_PS == NaN => 1 (homme)
df_description_indiv_select.loc[df_description_indiv_select['sex_PS'].isna(), 'sex_PS'] = 1
# Traitement valeurs manquantes: tage_PS == NaN => 8 (45-64ans)
df_description_indiv_select.loc[df_description_indiv_select['tage_PS'].isna(), 'tage_PS'] = 8
# Traitement valeurs manquantes: agglo_5cl == NaN => 5 (Agglo Paris)
df_description_indiv_select.loc[df_description_indiv_select['agglo_5cl'].isna(), 'agglo_5cl'] = 5

# traitement diplome_interv - Valeurs manquantes et Refus / Ne sait pas
df_description_indiv_select.loc[df_description_indiv_select['diplome_interv'].isna(), 'diplome_interv'] = 0
df_description_indiv_select['diplome_interv'] = df_description_indiv_select['diplome_interv'] + 10
df_description_indiv_select.loc[df_description_indiv_select['diplome_interv'].isin(['10','11','15','23','24']), 'diplome_interv'] = 1
df_description_indiv_select.loc[df_description_indiv_select['diplome_interv'].isin(['12','13','14','16']), 'diplome_interv'] = 2
df_description_indiv_select.loc[df_description_indiv_select['diplome_interv'] == 17, 'diplome_interv'] = 3
df_description_indiv_select.loc[df_description_indiv_select['diplome_interv'] == 18, 'diplome_interv'] = 4
df_description_indiv_select.loc[df_description_indiv_select['diplome_interv'] == 19, 'diplome_interv'] = 5
df_description_indiv_select.loc[df_description_indiv_select['diplome_interv'] == 20, 'diplome_interv'] = 6
df_description_indiv_select.loc[df_description_indiv_select['diplome_interv'] == 21, 'diplome_interv'] = 7
df_description_indiv_select.loc[df_description_indiv_select['diplome_interv'] == 22, 'diplome_interv'] = 8

# traitement revenu - Valeurs manquantes et Refus / Ne sait pas
df_description_indiv_select.loc[df_description_indiv_select['revenu'].isna(), 'revenu'] = 1
df_description_indiv_select.loc[df_description_indiv_select['revenu'] == 14, 'revenu'] = 1
df_description_indiv_select.loc[df_description_indiv_select['revenu'] == 15, 'revenu'] = 1

# traitement fume
df_description_indiv_select.loc[df_description_indiv_select['fume'].isna(), 'fume'] = 0
df_description_indiv_select['fume'] = df_description_indiv_select['fume'] + 10
df_description_indiv_select.loc[df_description_indiv_select['fume'] == 14, 'fume'] = 0
df_description_indiv_select.loc[df_description_indiv_select['fume'] == 13, 'fume'] = 1
df_description_indiv_select.loc[df_description_indiv_select['fume'] == 12, 'fume'] = 2
df_description_indiv_select.loc[df_description_indiv_select['fume'] == 11, 'fume'] = 3
df_description_indiv_select.loc[df_description_indiv_select['fume'] == 10, 'fume'] = 0

print("Missing values = ", df_description_indiv_select.isna().sum().sum())
# print(df_description_indiv_select.describe())
df_description_indiv_select.head()

df_description_indiv.shape : (5855, 185)
df_description_indiv_select.shape : (2288, 10)
Missing values =  0

/Users/francois/anaconda3/envs/inca3-env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (88) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

       NOIND  pop2  pop3  agglo_5cl  sex_PS  tage_PS  diplome_interv  revenu        imc  fume
0  110100101     1     1          1       1        7             3.0      12  18.282312   0.0
1  110100701     1     1          1       2        8             3.0      11  23.624619   0.0
2  110100801     1     1          1       1        8             3.0      11  29.949701   1.0
3  110101201     1     1          1       1        8             6.0      11  26.141914   0.0
4  110101401     1     1          1       2        9             3.0       6  22.420361   0.0

## Table HABITUDES_INDIV : Sélection variables

In [19]:
# Table HABITUDES_INDIV
path_habitudes_indiv = "./datas/habitudes-indiv.csv"
df_habitudes_indiv = pd.read_csv(path_habitudes_indiv, sep=';', error_bad_lines=False, index_col=False)

# formatage_bio - df_habitudes_indiv
def formatage_bio(col_name):
  df_habitudes_indiv.loc[df_habitudes_indiv[col_name].isna(), col_name] = 0
  df_habitudes_indiv[col_name] = df_habitudes_indiv[col_name] + 10
  df_habitudes_indiv.loc[df_habitudes_indiv[col_name] == 16, col_name] = 0
  df_habitudes_indiv.loc[df_habitudes_indiv[col_name] == 15, col_name] = 0
  df_habitudes_indiv.loc[df_habitudes_indiv[col_name] == 14, col_name] = 0
  df_habitudes_indiv.loc[df_habitudes_indiv[col_name] == 13, col_name] = 1
  df_habitudes_indiv.loc[df_habitudes_indiv[col_name] == 12, col_name] = 2
  df_habitudes_indiv.loc[df_habitudes_indiv[col_name] == 11, col_name] = 3
  df_habitudes_indiv.loc[df_habitudes_indiv[col_name] == 10, col_name] = 0

# traitement restaurationrapide_freq
df_habitudes_indiv.loc[df_habitudes_indiv['restaurationrapide_freq'].isna(), 'restaurationrapide_freq'] = 0
df_habitudes_indiv['restaurationrapide_freq'] = df_habitudes_indiv['restaurationrapide_freq'] + 10
df_habitudes_indiv.loc[df_habitudes_indiv['restaurationrapide_freq'] == 18, 'restaurationrapide_freq'] = 0
df_habitudes_indiv.loc[df_habitudes_indiv['restaurationrapide_freq'] == 17, 'restaurationrapide_freq'] = 0
df_habitudes_indiv.loc[df_habitudes_indiv['restaurationrapide_freq'] == 16, 'restaurationrapide_freq'] = 1
df_habitudes_indiv.loc[df_habitudes_indiv['restaurationrapide_freq'] == 15, 'restaurationrapide_freq'] = 2
df_habitudes_indiv.loc[df_habitudes_indiv['restaurationrapide_freq'] == 14, 'restaurationrapide_freq'] = 3
df_habitudes_indiv.loc[df_habitudes_indiv['restaurationrapide_freq'] == 13, 'restaurationrapide_freq'] = 4
df_habitudes_indiv.loc[df_habitudes_indiv['restaurationrapide_freq'] == 12, 'restaurationrapide_freq'] = 5
df_habitudes_indiv.loc[df_habitudes_indiv['restaurationrapide_freq'] == 11, 'restaurationrapide_freq'] = 6
df_habitudes_indiv.loc[df_habitudes_indiv['restaurationrapide_freq'] == 10, 'restaurationrapide_freq'] = 0

# traitement collation_freq
df_habitudes_indiv.loc[df_habitudes_indiv['collation_freq'].isna(), 'collation_freq'] = 0
df_habitudes_indiv['collation_freq'] = df_habitudes_indiv['collation_freq'] + 10
df_habitudes_indiv.loc[df_habitudes_indiv['collation_freq'] == 17, 'collation_freq'] = 0
df_habitudes_indiv.loc[df_habitudes_indiv['collation_freq'] == 16, 'collation_freq'] = 0
df_habitudes_indiv.loc[df_habitudes_indiv['collation_freq'] == 15, 'collation_freq'] = 1
df_habitudes_indiv.loc[df_habitudes_indiv['collation_freq'] == 14, 'collation_freq'] = 2
df_habitudes_indiv.loc[df_habitudes_indiv['collation_freq'] == 13, 'collation_freq'] = 3
df_habitudes_indiv.loc[df_habitudes_indiv['collation_freq'] == 12, 'collation_freq'] = 4
df_habitudes_indiv.loc[df_habitudes_indiv['collation_freq'] == 11, 'collation_freq'] = 5
df_habitudes_indiv.loc[df_habitudes_indiv['collation_freq'] == 10, 'collation_freq'] = 0

# traitement conso bio
formatage_bio('conso_lait_bio_freq')
formatage_bio('conso_oeufs_bio_freq')
formatage_bio('conso_volailles_bio_freq')
formatage_bio('conso_viandes_bio_freq')
formatage_bio('conso_poissons_bio_freq')
formatage_bio('conso_fruits_bio_freq')
formatage_bio('conso_pdt_bio_freq')
formatage_bio('conso_legumes_bio_freq')
formatage_bio('conso_legumes_secs_bio_freq')
formatage_bio('conso_pain_bio_freq')
formatage_bio('conso_cereales_bio_freq')

# traitement variables viandes_poissons_oeufs_bio
df_habitudes_indiv['viandes_poissons_oeufs_bio'] = ((df_habitudes_indiv['conso_volailles_bio_freq'] + df_habitudes_indiv['conso_viandes_bio_freq']
+ df_habitudes_indiv['conso_oeufs_bio_freq'])/3).astype(int)

# traitement variables fruits_legumes_bio_freq
df_habitudes_indiv['fruits_legumes_bio_freq'] = ((df_habitudes_indiv['conso_fruits_bio_freq'] + df_habitudes_indiv['conso_pdt_bio_freq']
+ df_habitudes_indiv['conso_legumes_bio_freq'] + df_habitudes_indiv['conso_legumes_secs_bio_freq'])/4).astype(int)

# traitement variables pain_cereales_bio_freq
df_habitudes_indiv['pain_cereales_bio_freq'] = ((df_habitudes_indiv['conso_pain_bio_freq'] + df_habitudes_indiv['conso_cereales_bio_freq'])/2).astype(int)

# traitement valeurs manquantes - consommation_bio
df_habitudes_indiv.loc[df_habitudes_indiv['consommation_bio'].isna(), 'consommation_bio'] = 0

# variables sélectionnées
habitudes_indiv_columns = ['NOIND', 'restaurationrapide_freq', 'collation_freq', 'pain_cereales_bio_freq', 'fruits_legumes_bio_freq', 
                           'conso_lait_bio_freq', 'viandes_poissons_oeufs_bio', 'consommation_bio']

df_habitudes_indiv_select = df_habitudes_indiv[habitudes_indiv_columns] 

df_habitudes_indiv_select.rename(columns={'pain_cereales_bio_freq':'pain_cereales_bio', 'fruits_legumes_bio_freq':'fruits_legumes_bio',
                                          'conso_lait_bio_freq':'produits_laitiers_bio', 'viandes_poissons_oeufs_bio':'viandes_poissons_bio'}, inplace=True)

print('df_habitudes_indiv_select.shape :', df_habitudes_indiv_select.shape)
# print("Missing values = ", df_habitudes_indiv_select.isna().sum())
print("Total missing values = ", df_habitudes_indiv_select.isna().sum().sum())
df_habitudes_indiv_select.head()

df_habitudes_indiv_select.shape : (4372, 8)
Total missing values =  0

/Users/francois/anaconda3/envs/inca3-env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (8,14,16,36,45,60,61,62,63,195) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/francois/anaconda3/envs/inca3-env/lib/python3.7/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

       NOIND  restaurationrapide_freq  collation_freq  pain_cereales_bio  fruits_legumes_bio  produits_laitiers_bio  viandes_poissons_bio  consommation_bio
0  110100101                      2.0             5.0                  1                   0                    1.0                     0               0.0
1  110100701                      1.0             1.0                  1                   2                    2.0                     2               1.0
2  110100801                      1.0             0.0                  0                   0                    0.0                     0               0.0
3  110101201                      1.0             3.0                  0                   0                    0.0                     0               0.0
4  110101401                      0.0             2.0                  1                   0                    3.0                     1               1.0

## Table ACTPHYS_SEDENT: Sélection variables

In [20]:
# Table ACTPHYS_SEDENT
path_actphys_sedent = "./datas/actphys-sedent.csv"
df_actphys_sedent = pd.read_csv(path_actphys_sedent, sep=';', error_bad_lines=False, index_col=False)

# Sélection variables
selected_columns = ['NOIND', 'tv_duree', 'ordi_duree', 'travail_duree', 'sedentarite_duree',  
                    'activite_total_duree', 'activite_domloissport_duree']
df_actphys_sedent_select = df_actphys_sedent[selected_columns]

# traitement valeurs manquantes
df_actphys_sedent_select['tv_duree'].fillna(df_actphys_sedent_select['tv_duree'].mean(), inplace=True)
df_actphys_sedent_select['ordi_duree'].fillna(df_actphys_sedent_select['ordi_duree'].mean(), inplace=True)
df_actphys_sedent_select['travail_duree'].fillna(df_actphys_sedent_select['travail_duree'].mean(), inplace=True)
df_actphys_sedent_select['sedentarite_duree'].fillna(df_actphys_sedent_select['sedentarite_duree'].mean(), inplace=True)

print('df_actphys_sedent_select.shape :', df_actphys_sedent_select.shape)
df_actphys_sedent_select.describe()
# df_actphys_sedent_select.tail()

df_actphys_sedent_select.shape : (4725, 7)

/Users/francois/anaconda3/envs/inca3-env/lib/python3.7/site-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

              NOIND     tv_duree   ordi_duree  travail_duree  sedentarite_duree  activite_total_duree  activite_domloissport_duree
count  4.725000e+03  4725.000000  4725.000000    4725.000000        4725.000000           2193.000000                  2274.000000
mean   3.272597e+08     2.394437     1.254962       2.429770           6.292049             10.118902                     2.386195
std    1.503623e+08     1.750067     1.583752       1.801769           2.277574              3.690695                     2.160548
min    1.101001e+08     0.000000     0.000000       0.000000           0.000000              0.000000                     0.000000
25%    2.159091e+08     1.014286     0.000000       2.000000           6.000000              7.519363                     1.040567
50%    3.217008e+08     2.000000     0.714286       2.429770           6.292049             10.091270                     1.752977
75%    4.269003e+08     3.214290     1.928570       2.429770           6.292049             12.541658                     3.062500
max    8.292078e+08    12.043011    14.000000      14.271429          16.997459             17.000002                    25.830357

## Join tables

In [21]:
# df_description_indiv_select
# df_habitudes_indiv_select
# df_actphys_sedent_select

df_base = df_description_indiv_select.join(df_habitudes_indiv_select.set_index('NOIND'), on='NOIND')
df_base = df_base.join(df_actphys_sedent_select.set_index('NOIND'), on='NOIND')

# drop pop2 pop3 columns
df_base.drop(['pop2', 'pop3'], axis=1, inplace=True)

print('df_base.shape :', df_base.shape)
print("Total missing values = ", df_base.isna().sum().sum())
df_base[['imc','restaurationrapide_freq','collation_freq','pain_cereales_bio','fruits_legumes_bio',
              'produits_laitiers_bio','viandes_poissons_bio','consommation_bio','tv_duree','ordi_duree',
              'travail_duree','sedentarite_duree','activite_total_duree','activite_domloissport_duree']].describe()
# df_base.head()

df_base.shape : (2288, 21)
Total missing values =  109

               imc  restaurationrapide_freq  collation_freq  pain_cereales_bio  fruits_legumes_bio  produits_laitiers_bio  viandes_poissons_bio  consommation_bio     tv_duree   ordi_duree  travail_duree  sedentarite_duree  activite_total_duree  activite_domloissport_duree
count  2288.000000              2288.000000     2288.000000        2288.000000         2288.000000            2288.000000           2288.000000       2288.000000  2288.000000  2288.000000    2288.000000        2288.000000           2193.000000                  2274.000000
mean     25.793700                 1.184441        2.066871           0.350962            0.392045               0.695367              0.496066          0.428322     3.112847     1.585665       2.429770           6.292049             10.118902                     2.386195
std       4.930130                 1.122214        1.553698           0.677961            0.707674               0.928269              0.736328          0.494944     1.849706     1.597774       2.589531           3.273364              3.690695                     2.160548
min      15.776830                 0.000000        0.000000           0.000000            0.000000               0.000000              0.000000          0.000000     0.000000     0.000000       0.000000           0.000000              0.000000                     0.000000
25%      22.320882                 0.000000        0.000000           0.000000            0.000000               0.000000              0.000000          0.000000     1.928570     0.500000       0.000000           3.928570              7.519363                     1.040567
50%      25.037310                 1.000000        2.000000           0.000000            0.000000               0.000000              0.000000          0.000000     2.928570     1.000000       1.428572           5.909528             10.091270                     1.752977
75%      28.394135                 2.000000        3.000000           1.000000            1.000000               1.000000              1.000000          1.000000     4.000000     2.250825       5.000000           8.464276             12.541658                     3.062500
max      52.608677                 6.000000        5.000000           3.000000            3.000000               3.000000              3.000000          1.000000     9.000000     9.000000      14.271429          16.997459             17.000002                    25.830357

## Verification datas

In [22]:
print('df_base.shape :', df_base.shape)
print("Total missing values = ", df_base.isna().sum().sum())
# df_base[['tage_PS', 'revenu', 'imc', 'pain_cereales', 'fruits_legumes', 'produits_laitiers', 'viandes_poissons_oeufs', 'produits_sucres', 'eau', 'alcool']].describe()

df_base.shape : (2288, 21)
Total missing values =  109

In [23]:
df_base[['tage_PS', 'diplome_interv', 'revenu', 'imc', 'restaurationrapide_freq', 'collation_freq', 
         'pain_cereales_bio', 'fruits_legumes_bio', 'produits_laitiers_bio', 'viandes_poissons_bio', 
         'consommation_bio', 'tv_duree', 'ordi_duree', 'travail_duree', 'sedentarite_duree', 
         'activite_total_duree', 'activite_domloissport_duree']].describe()

           tage_PS  diplome_interv       revenu          imc  restaurationrapide_freq  collation_freq  pain_cereales_bio  fruits_legumes_bio  produits_laitiers_bio  viandes_poissons_bio  consommation_bio     tv_duree   ordi_duree  travail_duree  sedentarite_duree  activite_total_duree  activite_domloissport_duree
count  2288.000000     2288.000000  2288.000000  2288.000000              2288.000000     2288.000000        2288.000000         2288.000000            2288.000000           2288.000000       2288.000000  2288.000000  2288.000000    2288.000000        2288.000000           2193.000000                  2274.000000
mean      7.867133        4.582605     8.533217    25.793700                 1.184441        2.066871           0.350962            0.392045               0.695367              0.496066          0.428322     3.112847     1.585665       2.429770           6.292049             10.118902                     2.386195
std       0.771601        1.907616     3.575501     4.930130                 1.122214        1.553698           0.677961            0.707674               0.928269              0.736328          0.494944     1.849706     1.597774       2.589531           3.273364              3.690695                     2.160548
min       7.000000        1.000000     1.000000    15.776830                 0.000000        0.000000           0.000000            0.000000               0.000000              0.000000          0.000000     0.000000     0.000000       0.000000           0.000000              0.000000                     0.000000
25%       7.000000        3.000000     6.000000    22.320882                 0.000000        0.000000           0.000000            0.000000               0.000000              0.000000          0.000000     1.928570     0.500000       0.000000           3.928570              7.519363                     1.040567
50%       8.000000        4.000000     9.000000    25.037310                 1.000000        2.000000           0.000000            0.000000               0.000000              0.000000          0.000000     2.928570     1.000000       1.428572           5.909528             10.091270                     1.752977
75%       8.000000        6.000000    12.000000    28.394135                 2.000000        3.000000           1.000000            1.000000               1.000000              1.000000          1.000000     4.000000     2.250825       5.000000           8.464276             12.541658                     3.062500
max       9.000000        8.000000    13.000000    52.608677                 6.000000        5.000000           3.000000            3.000000               3.000000              3.000000          1.000000     9.000000     9.000000      14.271429          16.997459             17.000002                    25.830357

In [24]:
# Remplacement 0 par mean()
df_base['imc']=df_base['imc'].replace(0,df_base['imc'].mean())
df_base['restaurationrapide_freq']=df_base['restaurationrapide_freq'].replace(0,df_base['restaurationrapide_freq'].mean())
df_base['collation_freq']=df_base['collation_freq'].replace(0,df_base['collation_freq'].mean())
df_base['tv_duree'].fillna((df_base['tv_duree'].mean()), inplace=True)
df_base['tv_duree']=df_base['tv_duree'].replace(0,df_base['tv_duree'].mean())
df_base['ordi_duree'].fillna((df_base['ordi_duree'].mean()), inplace=True)
df_base['ordi_duree']=df_base['ordi_duree'].replace(0,df_base['ordi_duree'].mean())
df_base['travail_duree'].fillna((df_base['travail_duree'].mean()), inplace=True)
df_base['travail_duree']=df_base['travail_duree'].replace(0,df_base['travail_duree'].mean())
df_base['sedentarite_duree'].fillna((df_base['sedentarite_duree'].mean()), inplace=True)
df_base['sedentarite_duree']=df_base['sedentarite_duree'].replace(0,df_base['sedentarite_duree'].mean())
df_base['activite_total_duree'].fillna((df_base['activite_total_duree'].mean()), inplace=True)
df_base['activite_total_duree']=df_base['activite_total_duree'].replace(0,df_base['activite_total_duree'].mean())
df_base['activite_domloissport_duree']=df_base['activite_domloissport_duree'].replace(0,df_base['activite_domloissport_duree'].mean())
df_base['activite_domloissport_duree'].fillna((df_base['activite_domloissport_duree'].mean()), inplace=True)

df_base[['tv_duree', 'ordi_duree', 'travail_duree', 'sedentarite_duree', 'activite_total_duree', 'activite_domloissport_duree']].describe()

          tv_duree   ordi_duree  travail_duree  sedentarite_duree  activite_total_duree  activite_domloissport_duree
count  2288.000000  2288.000000    2288.000000        2288.000000           2288.000000                  2288.000000
mean      3.213525     1.870503       3.506600           6.349799             10.123324                     2.398787
std       1.760040     1.421218       1.711142           3.216838              3.607025                     2.146942
min       0.142860     0.077308       0.035714           0.142860              0.119044                     0.002976
25%       2.000000     1.000000       2.429770           3.999996              7.644349                     1.057664
50%       3.000000     1.585665       2.429770           6.000000             10.118902                     1.773805
75%       4.000000     2.250825       5.000000           8.464276             12.416915                     3.053947
max       9.000000     9.000000      14.271429          16.997459             17.000002                    25.830357

In [25]:
print(list(df_base))
print("Total missing values = ", df_base.isna().sum().sum())
df_base.head()

['NOIND', 'agglo_5cl', 'sex_PS', 'tage_PS', 'diplome_interv', 'revenu', 'imc', 'fume', 'restaurationrapide_freq', 'collation_freq', 'pain_cereales_bio', 'fruits_legumes_bio', 'produits_laitiers_bio', 'viandes_poissons_bio', 'consommation_bio', 'tv_duree', 'ordi_duree', 'travail_duree', 'sedentarite_duree', 'activite_total_duree', 'activite_domloissport_duree']
Total missing values =  0

       NOIND  agglo_5cl  sex_PS  tage_PS  diplome_interv  revenu        imc  fume  restaurationrapide_freq  collation_freq  pain_cereales_bio  fruits_legumes_bio  produits_laitiers_bio  viandes_poissons_bio  consommation_bio  tv_duree  ordi_duree  travail_duree  sedentarite_duree  activite_total_duree  activite_domloissport_duree
0  110100101          1       1        7             3.0      12  18.282312   0.0                 2.000000        5.000000                  1                   0                    1.0                     0               0.0  2.142860    3.571430       2.429770           8.142860              8.614090                     0.110119
1  110100701          1       2        8             3.0      11  23.624619   0.0                 1.000000        1.000000                  1                   2                    2.0                     2               1.0  1.928570    0.357140       4.000000           6.666670             10.569450                     3.160715
2  110100801          1       1        8             3.0      11  29.949701   1.0                 1.000000        2.066871                  0                   0                    0.0                     0               0.0  0.928570    0.142860       2.429770           1.714290              3.015881                     1.178572
3  110101201          1       1        8             6.0      11  26.141914   0.0                 1.000000        3.000000                  0                   0                    0.0                     0               0.0  3.023461    4.031272       5.714286          13.664864             17.000000                     3.422618
4  110101401          1       2        9             3.0       6  22.420361   0.0                 1.184441        2.000000                  1                   0                    3.0                     1               1.0  1.500000    1.585665       2.429770           1.500000              3.882939                     2.160719

## Save df_base

In [26]:
# Save dataframe
df_base.to_csv("./datas/pop2_df_base.csv")