## pop3_df_base 
DESCRIPTION_INDIV  
CONSO_GPE_INCA3   
pop3_df_base.csv

### Imports

In [9]:
import pandas as pd
# google drive folder access
# from google.colab import drive
# drive.mount("/content/drive", force_remount=True)

import numpy as np
from sklearn.impute import SimpleImputer

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

### Table DESCRIPTION_INDIV : Sélection variables & sélection population adulte

In [11]:
# Table DESCRIPTION_INDIV
path_description_indiv = "./datas/description-indiv.csv"
df_description_indiv = pd.read_csv(path_description_indiv, sep=';', error_bad_lines=False, index_col=False)

# Sélection populations (conditions)
pop3 = df_description_indiv['pop3'] == 1
#  select pop3
df_description_indiv_pop3 = df_description_indiv[pop3]

# Sélection variables
description_indiv_columns = ['NOIND', 'pop2', 'pop3', 'agglo_5cl', 'sex_PS', 'tage_PS', 'diplome_interv', 'revenu', 'imc',  'fume']
df_description_indiv_select = df_description_indiv_pop3[description_indiv_columns]

# Sélection classes adultes
print('df_description_indiv.shape :', df_description_indiv.shape)
is_adult = df_description_indiv_select['tage_PS'].isin(['7','8','9'])
df_description_indiv_select = df_description_indiv_select[is_adult]
print('df_description_indiv_select.shape :', df_description_indiv_select.shape)

# Traitement valeurs manquantes
df_description_indiv_select['imc'].fillna(df_description_indiv_select['imc'].mean(), inplace=True)
# Traitement valeurs manquantes: sex_PS == NaN => 1 (homme)
df_description_indiv_select.loc[df_description_indiv_select['sex_PS'].isna(), 'sex_PS'] = 1
# Traitement valeurs manquantes: tage_PS == NaN => 8 (45-64ans)
df_description_indiv_select.loc[df_description_indiv_select['tage_PS'].isna(), 'tage_PS'] = 8
# Traitement valeurs manquantes: agglo_5cl == NaN => 5 (Agglo Paris)
df_description_indiv_select.loc[df_description_indiv_select['agglo_5cl'].isna(), 'agglo_5cl'] = 5

# traitement diplome_interv - Valeurs manquantes et Refus / Ne sait pas
df_description_indiv_select.loc[df_description_indiv_select['diplome_interv'].isna(), 'diplome_interv'] = 0
df_description_indiv_select['diplome_interv'] = df_description_indiv_select['diplome_interv'] + 10
df_description_indiv_select.loc[df_description_indiv_select['diplome_interv'].isin(['10','11','15','23','24']), 'diplome_interv'] = 1
df_description_indiv_select.loc[df_description_indiv_select['diplome_interv'].isin(['12','13','14','16']), 'diplome_interv'] = 2
df_description_indiv_select.loc[df_description_indiv_select['diplome_interv'] == 17, 'diplome_interv'] = 3
df_description_indiv_select.loc[df_description_indiv_select['diplome_interv'] == 18, 'diplome_interv'] = 4
df_description_indiv_select.loc[df_description_indiv_select['diplome_interv'] == 19, 'diplome_interv'] = 5
df_description_indiv_select.loc[df_description_indiv_select['diplome_interv'] == 20, 'diplome_interv'] = 6
df_description_indiv_select.loc[df_description_indiv_select['diplome_interv'] == 21, 'diplome_interv'] = 7
df_description_indiv_select.loc[df_description_indiv_select['diplome_interv'] == 22, 'diplome_interv'] = 8

# traitement revenu - Valeurs manquantes et Refus / Ne sait pas
df_description_indiv_select.loc[df_description_indiv_select['revenu'].isna(), 'revenu'] = 1
df_description_indiv_select.loc[df_description_indiv_select['revenu'] == 14, 'revenu'] = 1
df_description_indiv_select.loc[df_description_indiv_select['revenu'] == 15, 'revenu'] = 1

# traitement fume
df_description_indiv_select.loc[df_description_indiv_select['fume'].isna(), 'fume'] = 0
df_description_indiv_select['fume'] = df_description_indiv_select['fume'] + 10
df_description_indiv_select.loc[df_description_indiv_select['fume'] == 14, 'fume'] = 0
df_description_indiv_select.loc[df_description_indiv_select['fume'] == 13, 'fume'] = 1
df_description_indiv_select.loc[df_description_indiv_select['fume'] == 12, 'fume'] = 2
df_description_indiv_select.loc[df_description_indiv_select['fume'] == 11, 'fume'] = 3
df_description_indiv_select.loc[df_description_indiv_select['fume'] == 10, 'fume'] = 0

print("Missing values = ", df_description_indiv_select.isna().sum().sum())
df_description_indiv_select.head()

df_description_indiv.shape : (5855, 185)
df_description_indiv_select.shape : (2121, 10)
Missing values =  0

/Users/francois/anaconda3/envs/inca3-env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (88) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

       NOIND  pop2  pop3  agglo_5cl  sex_PS  tage_PS  diplome_interv  revenu        imc  fume
0  110100101     1     1          1       1        7             3.0      12  18.282312   0.0
1  110100701     1     1          1       2        8             3.0      11  23.624619   0.0
2  110100801     1     1          1       1        8             3.0      11  29.949701   1.0
3  110101201     1     1          1       1        8             6.0      11  26.141914   0.0
4  110101401     1     1          1       2        9             3.0       6  22.420361   0.0

## Table CONSO_GPE_INCA3: Sélection variables

In [12]:
# Table CONSO_GPE_INCA3
path_conso_gpe_inca3 = "./datas/conso-gpe-inca3.csv"
df_conso_gpe_inca3 = pd.read_csv(path_conso_gpe_inca3, sep=';', error_bad_lines=False, index_col=False)

#  Sélectionnées variables
df_conso_gpe_inca3_columns = ['NOIND', 'conso_gpe1', 'conso_gpe2', 'conso_gpe3', 'conso_gpe4', 'conso_gpe5', 'conso_gpe6', 'conso_gpe7', 
                              'conso_gpe8', 'conso_gpe9', 'conso_gpe10', 'conso_gpe11', 'conso_gpe12', 'conso_gpe14', 'conso_gpe15', 
                              'conso_gpe16', 'conso_gpe17', 'conso_gpe18', 'conso_gpe19', 'conso_gpe20', 'conso_gpe21', 'conso_gpe22', 
                              'conso_gpe23', 'conso_gpe24', 'conso_gpe25', 'conso_gpe26', 'conso_gpe27', 'conso_gpe28', 'conso_gpe29', 
                              'conso_gpe30', 'conso_gpe32', 'conso_gpe33', 'conso_gpe36', 'conso_gpe37', 'conso_gpe38', 'conso_gpe39', 
                              'conso_gpe40']
df_conso_gpe_inca3_select = df_conso_gpe_inca3[df_conso_gpe_inca3_columns].fillna(0)
#  Gestion valeurs manquantes :0 si NaN
print("Total missing values = ", df_conso_gpe_inca3.isna().sum().sum())

# traitement variables pain_cereales
df_conso_gpe_inca3_select['pain_cereales'] = df_conso_gpe_inca3_select['conso_gpe1'] + df_conso_gpe_inca3_select['conso_gpe2']
+ df_conso_gpe_inca3_select['conso_gpe3'] + df_conso_gpe_inca3_select['conso_gpe4'] + df_conso_gpe_inca3_select['conso_gpe5']
df_conso_gpe_inca3_select.drop(['conso_gpe1', 'conso_gpe2', 'conso_gpe3', 'conso_gpe4', 'conso_gpe5'], axis=1, inplace=True)

# traitement variables produits_sucres
df_conso_gpe_inca3_select['produits_sucres'] = df_conso_gpe_inca3_select['conso_gpe6'] + df_conso_gpe_inca3_select['conso_gpe10']
+ df_conso_gpe_inca3_select['conso_gpe11'] + df_conso_gpe_inca3_select['conso_gpe27'] + df_conso_gpe_inca3_select['conso_gpe28']
+ df_conso_gpe_inca3_select['conso_gpe40']
df_conso_gpe_inca3_select.drop(['conso_gpe6', 'conso_gpe10', 'conso_gpe11', 'conso_gpe27', 'conso_gpe28', 'conso_gpe40'], axis=1, inplace=True)

# traitement variables produits_laitiers
df_conso_gpe_inca3_select['produits_laitiers'] = df_conso_gpe_inca3_select['conso_gpe7'] + df_conso_gpe_inca3_select['conso_gpe8']
+ df_conso_gpe_inca3_select['conso_gpe9']
df_conso_gpe_inca3_select.drop(['conso_gpe7', 'conso_gpe8', 'conso_gpe9'], axis=1, inplace=True)

# traitement variables viandes_poissons_oeufs
df_conso_gpe_inca3_select['viandes_poissons_oeufs'] = df_conso_gpe_inca3_select['conso_gpe12'] + df_conso_gpe_inca3_select['conso_gpe15']
+ df_conso_gpe_inca3_select['conso_gpe16'] + df_conso_gpe_inca3_select['conso_gpe17'] + df_conso_gpe_inca3_select['conso_gpe20']
+ df_conso_gpe_inca3_select['conso_gpe36'] + df_conso_gpe_inca3_select['conso_gpe18'] + df_conso_gpe_inca3_select['conso_gpe19']
+ df_conso_gpe_inca3_select['conso_gpe37'] + df_conso_gpe_inca3_select['conso_gpe14']
df_conso_gpe_inca3_select.drop(['conso_gpe12', 'conso_gpe15', 'conso_gpe16', 'conso_gpe17', 'conso_gpe20', 'conso_gpe36'], axis=1, inplace=True)
df_conso_gpe_inca3_select.drop(['conso_gpe18', 'conso_gpe19', 'conso_gpe37', 'conso_gpe14'], axis=1, inplace=True)

# traitement variables fruits_legumes
df_conso_gpe_inca3_select['fruits_legumes'] = df_conso_gpe_inca3_select['conso_gpe21'] + df_conso_gpe_inca3_select['conso_gpe22']
+ df_conso_gpe_inca3_select['conso_gpe23'] + df_conso_gpe_inca3_select['conso_gpe24'] + df_conso_gpe_inca3_select['conso_gpe25']
+ df_conso_gpe_inca3_select['conso_gpe26'] + df_conso_gpe_inca3_select['conso_gpe32'] + df_conso_gpe_inca3_select['conso_gpe38']
+ df_conso_gpe_inca3_select['conso_gpe39']
df_conso_gpe_inca3_select.drop(['conso_gpe21', 'conso_gpe22', 'conso_gpe23', 'conso_gpe24', 'conso_gpe25', 
                                'conso_gpe26', 'conso_gpe32', 'conso_gpe38', 'conso_gpe39'], axis=1, inplace=True)

# traitement variables eau
df_conso_gpe_inca3_select['eau'] = df_conso_gpe_inca3_select['conso_gpe29'] + df_conso_gpe_inca3_select['conso_gpe30']
df_conso_gpe_inca3_select.drop(['conso_gpe29', 'conso_gpe30'], axis=1, inplace=True)

# traitement variables alcool
df_conso_gpe_inca3_select.rename(columns={'conso_gpe33': 'alcool'}, inplace=True)

# reorder columns
df_conso_gpe_inca3_select = df_conso_gpe_inca3_select[['NOIND', 'pain_cereales', 'fruits_legumes', 'produits_laitiers', 
                                                        'viandes_poissons_oeufs', 'produits_sucres', 'eau', 'alcool']]

print('df_conso_gpe_inca3_select.shape :', df_conso_gpe_inca3_select.shape)
df_conso_gpe_inca3_select.head()

Total missing values =  0
df_conso_gpe_inca3_select.shape : (4114, 8)

       NOIND  pain_cereales  fruits_legumes  produits_laitiers  viandes_poissons_oeufs  produits_sucres         eau      alcool
0  110100101      60.899998       42.166668         291.533327               87.446669        41.333332   544.16669    0.000000
1  110100701      24.000000      234.600010         205.357150                1.732143       126.500004  1027.14280    5.771429
2  110100801      70.349998       63.285717         130.742860               63.482145       118.571420   892.85714    0.000000
3  110101201       9.900001      258.714290           8.000000               69.600005       130.714280  1160.26788  866.714290
4  110101401      46.618332       61.333332         250.000000               24.381808        64.666664   295.83333    0.000000

## Join tables

In [13]:
# join df_description_indiv_select & df_conso_gpe_inca3_select
df_base = df_description_indiv_select.join(df_conso_gpe_inca3_select.set_index('NOIND'), on='NOIND')
# drop pop2 pop3 columns
df_base.drop(['pop2', 'pop3'], axis=1, inplace=True)
print('df_base.shape :', df_base.shape)
print("Total missing values = ", df_base.isna().sum().sum())
df_base.head()

df_base.shape : (2121, 15)
Total missing values =  0

       NOIND  agglo_5cl  sex_PS  tage_PS  diplome_interv  revenu        imc  fume  pain_cereales  fruits_legumes  produits_laitiers  viandes_poissons_oeufs  produits_sucres         eau      alcool
0  110100101          1       1        7             3.0      12  18.282312   0.0      60.899998       42.166668         291.533327               87.446669        41.333332   544.16669    0.000000
1  110100701          1       2        8             3.0      11  23.624619   0.0      24.000000      234.600010         205.357150                1.732143       126.500004  1027.14280    5.771429
2  110100801          1       1        8             3.0      11  29.949701   1.0      70.349998       63.285717         130.742860               63.482145       118.571420   892.85714    0.000000
3  110101201          1       1        8             6.0      11  26.141914   0.0       9.900001      258.714290           8.000000               69.600005       130.714280  1160.26788  866.714290
4  110101401          1       2        9             3.0       6  22.420361   0.0      46.618332       61.333332         250.000000               24.381808        64.666664   295.83333    0.000000

### Verification datas

In [14]:
print('df_base.shape :', df_base.shape)
print("Total missing values = ", df_base.isna().sum().sum())
df_base[['tage_PS', 'revenu', 'imc', 'pain_cereales', 'fruits_legumes', 'produits_laitiers', 'viandes_poissons_oeufs', 'produits_sucres', 'eau', 'alcool']].describe()

df_base.shape : (2121, 15)
Total missing values =  0

           tage_PS       revenu          imc  pain_cereales  fruits_legumes  produits_laitiers  viandes_poissons_oeufs  produits_sucres          eau       alcool
count  2121.000000  2121.000000  2121.000000    2121.000000     2121.000000        2121.000000             2121.000000      2121.000000  2121.000000  2121.000000
mean      7.871759     8.571429    25.768907     110.343041      150.553915         149.958043               51.785294        72.024956   892.494378   133.078422
std       0.770664     3.590831     4.812153      90.995172      120.734024         160.369382               52.085085        70.680257   595.181948   246.522458
min       7.000000     1.000000    15.776830       0.000000        0.000000           0.000000                0.000000         0.000000     0.000000     0.000000
25%       7.000000     6.000000    22.321428      46.342140       63.214287          35.714291               11.669665        15.785714   458.407753     0.000000
50%       8.000000     9.000000    25.050505      87.299988      126.592860         111.189290               39.354157        53.660717   785.000000    44.642857
75%       8.000000    12.000000    28.405504     152.250000      211.428570         209.748810               73.528908       108.571423  1222.499996   175.714280
max       9.000000    13.000000    50.117188     644.872680      962.928590        2007.288030              400.714290       447.674010  3896.473400  6209.856900

In [15]:
# Remplacement 0 par mean()
df_base['imc']=df_base['imc'].replace(0,df_base['imc'].mean())
df_base['pain_cereales']=df_base['pain_cereales'].replace(0,df_base['pain_cereales'].mean())
df_base['fruits_legumes']=df_base['fruits_legumes'].replace(0,df_base['fruits_legumes'].mean())
df_base['produits_laitiers']=df_base['produits_laitiers'].replace(0,df_base['produits_laitiers'].mean())
df_base['viandes_poissons_oeufs']=df_base['viandes_poissons_oeufs'].replace(0,df_base['viandes_poissons_oeufs'].mean())
df_base['produits_sucres']=df_base['produits_sucres'].replace(0,df_base['produits_sucres'].mean())
df_base['eau']=df_base['eau'].replace(0,df_base['eau'].mean())
df_base['alcool']=df_base['alcool'].replace(0,df_base['alcool'].mean())
df_base[['diplome_interv', 'revenu', 'imc', 'pain_cereales', 'fruits_legumes', 'produits_laitiers', 'viandes_poissons_oeufs', 'produits_sucres', 'eau', 'alcool']].describe()

       diplome_interv       revenu          imc  pain_cereales  fruits_legumes  produits_laitiers  viandes_poissons_oeufs  produits_sucres          eau       alcool
count     2121.000000  2121.000000  2121.000000    2121.000000     2121.000000        2121.000000             2121.000000      2121.000000  2121.000000  2121.000000
mean         4.668081     8.571429    25.768907     114.817111      157.652167         177.531658               57.376445        84.080052   912.271482   184.590626
std          1.914484     3.590831     4.812153      88.125929      116.004836         144.294283               48.907099        63.100138   579.819760   226.407082
min          1.000000     1.000000    15.776830       0.535714        1.010000           1.442857                0.128143         1.428572     6.696428     0.735714
25%          3.000000     6.000000    22.321428      52.540625       74.000000          89.285713               23.107144        41.321426   482.991090   102.973230
50%          4.000000     9.000000    25.050505      96.244995      140.375007         149.958043               51.785294        72.024956   815.714330   133.078422
75%          6.000000    12.000000    28.405504     152.250000      211.428570         209.748810               73.528908       108.571423  1222.499996   175.714280
max          8.000000    13.000000    50.117188     644.872680      962.928590        2007.288030              400.714290       447.674010  3896.473400  6209.856900

In [16]:
print(list(df_base))
df_base.head()

['NOIND', 'agglo_5cl', 'sex_PS', 'tage_PS', 'diplome_interv', 'revenu', 'imc', 'fume', 'pain_cereales', 'fruits_legumes', 'produits_laitiers', 'viandes_poissons_oeufs', 'produits_sucres', 'eau', 'alcool']

       NOIND  agglo_5cl  sex_PS  tage_PS  diplome_interv  revenu        imc  fume  pain_cereales  fruits_legumes  produits_laitiers  viandes_poissons_oeufs  produits_sucres         eau      alcool
0  110100101          1       1        7             3.0      12  18.282312   0.0      60.899998       42.166668         291.533327               87.446669        41.333332   544.16669  133.078422
1  110100701          1       2        8             3.0      11  23.624619   0.0      24.000000      234.600010         205.357150                1.732143       126.500004  1027.14280    5.771429
2  110100801          1       1        8             3.0      11  29.949701   1.0      70.349998       63.285717         130.742860               63.482145       118.571420   892.85714  133.078422
3  110101201          1       1        8             6.0      11  26.141914   0.0       9.900001      258.714290           8.000000               69.600005       130.714280  1160.26788  866.714290
4  110101401          1       2        9             3.0       6  22.420361   0.0      46.618332       61.333332         250.000000               24.381808        64.666664   295.83333  133.078422

## Save df_base

In [17]:
# Save dataframe
df_base.to_csv("./datas/pop3_df_base.csv")